/* BASE STYLES */

:root {

    /* colours */
      --whiskey: #D5966C;
      --cinder: #151515;
      --black-eel: #444444;
      --white: #fff;
  
    /* typography */
  
   --main-font-family: "outfit", sans-serif;
   --main-font-size-med: 1.375rem;
   --main-font-weight-med: 400;
   --main-line-height-med: 2rem;
  
  
   --main-font-size-sm: 1.125rem;
   --main-font-weight-sm: 200;
   --main-line-height-sm: 1.75rem;
  
   --font-family-accent: 'Big Shoulders Display', sans-serif;
  }
  
  /*
    Josh's Custom CSS Reset
    https://www.joshwcomeau.com/css/custom-css-reset/
  */
  
  *, *::before, *::after {
      box-sizing: border-box;
    }
    * {
      margin: 0;
      padding: 0;
    }
  
    button {
      border: initial;
    }
    html, body {
      height: 100%;
    }
    body {
      line-height: 1.5;
      -webkit-font-smoothing: antialiased;
    }
    img, picture, video, canvas, svg {
      display: block;
  
    }
    input, button, textarea, select {
      font: inherit;
    }
    p, h1, h2, h3, h4, h5, h6 {
      overflow-wrap: break-word;
    }
    #root, #__next {
      isolation: isolate;
    }
  
  
    body {
      font-family: var(--main-font-family);
      font-weight: var(--main-font-weight-sm);
      font-size: var(--main-font-size-sm);
  
  
    }
  
    h1, h2, h3 {
      font-family: var(--font-family-accent);
    }
  
    
    /* LEAFLET MAP OBJECT */

    #map {
        height: 600px;
        position: relative;
        z-index: 2;
    }


    /* BACK TO HOME BUTTON */

    a {
      color: #fff;
    }
    a:link { 
      text-decoration: none;
     }

    .css-button2 {
           
      color: #FFFFFF;
      font-size: 24px;
      text-decoration: none;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      font-family: 'Big Shoulders Display', cursive;
      font-weight: 700;
      letter-spacing: .15rem;
      background: #151515;
      display: inline-flex;
      align-items: center;
      padding: 5 0 0 6px;
      border: 0;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
      margin-left: 8.5rem;
      top: -37.5rem;
      z-index: 1000;
      
  }

  .css-button-icon2 {
      position: relative;
      padding: 16px 10px;
      background: #D5966C;
  }

  .css-button-text2 {
      position: relative;
      padding: 10px 18px;
      border: 0.2 #151515;
      font-family: 'Big Shoulders Display', cursive;
  }

  .css-button2:hover{
      background: #D5966C;
  }


  .css-button2:hover::after{
      content: "";
      background: #151515;
  }
  
  .css-button-icon2:hover {
      
      background:  #151515;
  }
  .css-button-icon2:hover::after {
      content: "";
      background:  #D5966C;
  }


  /* MAIN SECTION */

  .main {
    height: 548px;
    background: #151515;
    margin-top: -7rem;
  }

  h1.main-header {
    display: inline-block;
    font-family: "Big shoulders display", cursive;
    font-size: 4.375rem;
    font-weight: 800;
    line-height: 70px;
    color:#fff;
    padding-top: 10rem;
    padding-left: 165px;
  }

  .postal-address {
    float: right;
    padding-top: 10rem;
    padding-right: 165px;
  }

  h2.street-name {
    color:#D5966C;
    font-family: "Big shoulders display", cursive;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 24px;
  }

  .address {
    color: #FFFFFF;
    padding-bottom: 24px;
  }

  .text {
    color: #fff;
  }

  footer {
    background:#D5966C;
   }

   .footer-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 165px;
   }

   .gallery__title--small {
    color:#151515;
    line-height: 2rem;
    font-size: 36px;
    font-weight: 900;
    padding-right: 180px;
    margin-right: -20px;
    margin-left: -10px;
  }

  .gallery__text-small {
    color: #151515;
    font-family: "Open sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    padding-right: 220px;
    padding-top: 1rem;
   }

   .social-icons {
    display: flex;
    align-items: flex-start;
    padding-right: 5px;
    
   }
  
   .filter-black {
    filter: brightness(0) saturate(100%) invert(0%) sepia(14%) saturate(4269%) hue-rotate(23deg) brightness(93%) contrast(84%);
   }

   img.facebook {
    
    padding-right: 10px;
   }

   img.instagram {
    
    padding-right: 10px;
   }
   img.twitter {
    
    padding-right: 5px;
   }
